In [2]:
import pandas as pd
import requests

On importe notre data frame depuis Odré

In [39]:
df=pd.read_csv('eco2mix-national-tr-3.csv',sep=";",index_col=2, parse_dates=True)

On retire les colonnes inutiles

In [40]:
df.drop(columns=["Périmètre","Nature","Prévision J-1 (MW)", "Prévision J (MW)","Prévision J-1 (MW)","Prévision J (MW)","Ech. physiques (MW)",'Ech. comm. Angleterre (MW)', 'Ech. comm. Espagne (MW)','Ech. comm. Italie (MW)', 'Ech. comm. Suisse (MW)','Ech. comm. Allemagne-Belgique (MW)', 'Fioul - TAC (MW)','Fioul - Cogénération (MW)', 'Fioul - Autres (MW)', 'Gaz - TAC (MW)','Gaz - Cogénération (MW)', 'Gaz - CCG (MW)', 'Gaz - Autres (MW)',"Hydraulique - Fil de l'eau + éclusée (MW)", 'Hydraulique - Lacs (MW)','Hydraulique - STEP turbinage (MW)', 'Bioénergies - Déchets (MW)','Bioénergies - Biomasse (MW)', 'Bioénergies - Biogaz (MW)','Stockage batterie (MW)', 'Déstockage batterie (MW)','Eolien terrestre (MW)', "Eolien offshore (MW)"],inplace=True)

In [41]:
df

,Heure,Date - Heure,Consommation (MW),Fioul (MW),Charbon (MW),Gaz (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Taux de CO2 (g/kWh)
Date,,,,,,,,,,,,,
2022-07-12,16:00,2022-07-12T16:00:00+02:00,53441.0,488.0,28.0,4892.0,28218.0,917.0,8901.0,5653.0,0.0,746.0,58.0
2022-07-12,16:15,2022-07-12T16:15:00+02:00,53088.0,494.0,28.0,4595.0,28205.0,905.0,8713.0,5334.0,0.0,753.0,56.0
2022-07-12,19:15,2022-07-12T19:15:00+02:00,52865.0,636.0,29.0,4761.0,28157.0,1067.0,3135.0,7211.0,-12.0,762.0,64.0
2022-07-12,19:45,2022-07-12T19:45:00+02:00,52285.0,630.0,29.0,4864.0,28190.0,1042.0,2000.0,8036.0,-49.0,756.0,66.0
2022-07-12,21:00,2022-07-12T21:00:00+02:00,49069.0,640.0,28.0,4864.0,28255.0,1142.0,417.0,7201.0,-102.0,745.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-20,15:15,2022-08-20T15:15:00+02:00,40490.0,133.0,21.0,3678.0,21889.0,1584.0,8983.0,2832.0,-2816.0,749.0,56.0
2022-08-20,15:30,2022-08-20T15:30:00+02:00,40475.0,133.0,21.0,3571.0,21758.0,1620.0,9051.0,2836.0,-2842.0,744.0,55.0
2022-08-20,17:30,2022-08-20T17:30:00+02:00,39656.0,133.0,21.0,4257.0,22079.0,1585.0,6101.0,3343.0,-854.0,752.0,62.0
2022-08-20,21:30,2022-08-20T21:30:00+02:00,40306.0,133.0,20.0,4522.0,23189.0,1482.0,209.0,5251.0,0.0,753.0,69.0
2022-08-20,22:45,2022-08-20T22:45:00+02:00,41740.0,133.0,19.0,4616.0,23340.0,1393.0,0.0,5807.0,0.0,745.0,68.0

On retire les lignes avec des valeurs manquantes

In [42]:
df.dropna(inplace=True)

In [43]:
df

,Heure,Date - Heure,Consommation (MW),Fioul (MW),Charbon (MW),Gaz (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Taux de CO2 (g/kWh)
Date,,,,,,,,,,,,,
2022-07-12,16:00,2022-07-12T16:00:00+02:00,53441.0,488.0,28.0,4892.0,28218.0,917.0,8901.0,5653.0,0.0,746.0,58.0
2022-07-12,16:15,2022-07-12T16:15:00+02:00,53088.0,494.0,28.0,4595.0,28205.0,905.0,8713.0,5334.0,0.0,753.0,56.0
2022-07-12,19:15,2022-07-12T19:15:00+02:00,52865.0,636.0,29.0,4761.0,28157.0,1067.0,3135.0,7211.0,-12.0,762.0,64.0
2022-07-12,19:45,2022-07-12T19:45:00+02:00,52285.0,630.0,29.0,4864.0,28190.0,1042.0,2000.0,8036.0,-49.0,756.0,66.0
2022-07-12,21:00,2022-07-12T21:00:00+02:00,49069.0,640.0,28.0,4864.0,28255.0,1142.0,417.0,7201.0,-102.0,745.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-20,15:15,2022-08-20T15:15:00+02:00,40490.0,133.0,21.0,3678.0,21889.0,1584.0,8983.0,2832.0,-2816.0,749.0,56.0
2022-08-20,15:30,2022-08-20T15:30:00+02:00,40475.0,133.0,21.0,3571.0,21758.0,1620.0,9051.0,2836.0,-2842.0,744.0,55.0
2022-08-20,17:30,2022-08-20T17:30:00+02:00,39656.0,133.0,21.0,4257.0,22079.0,1585.0,6101.0,3343.0,-854.0,752.0,62.0
2022-08-20,21:30,2022-08-20T21:30:00+02:00,40306.0,133.0,20.0,4522.0,23189.0,1482.0,209.0,5251.0,0.0,753.0,69.0
2022-08-20,22:45,2022-08-20T22:45:00+02:00,41740.0,133.0,19.0,4616.0,23340.0,1393.0,0.0,5807.0,0.0,745.0,68.0

Pour obtenir des données plus cohérentes, on a regroupé nos data (initialement en 1/4 d'heures) en jours avant de les ranger chronologiquement.

In [44]:
df=df.resample("D").mean()

In [45]:
df.sort_index(ascending=False,inplace=True)

In [46]:
df

,Consommation (MW),Fioul (MW),Charbon (MW),Gaz (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Taux de CO2 (g/kWh)
Date,,,,,,,,,,,
2022-11-10,47957.227273,198.227273,43.477273,6323.977273,28542.227273,3426.954545,615.113636,6465.568182,-1603.750000,659.681818,71.886364
2022-11-09,48978.854167,200.625000,38.645833,6075.072917,29634.218750,6369.718750,720.812500,5296.781250,-953.000000,649.041667,64.291667
2022-11-08,48963.177083,200.385417,44.260417,4615.531250,28899.645833,11676.708333,849.739583,4610.375000,-1001.312500,651.802083,49.385417
2022-11-07,48324.364583,220.510417,41.218750,5628.166667,28291.041667,9988.052083,1675.729167,4763.218750,-1190.885417,653.760417,58.458333
2022-11-06,43698.885417,200.552083,37.406250,4298.302083,27428.947917,8589.708333,1424.958333,3609.697917,-1734.760417,666.031250,53.489583
...,...,...,...,...,...,...,...,...,...,...,...
2022-06-05,37671.812500,142.166667,16.416667,1905.239583,25653.312500,3243.260417,2524.177083,5079.354167,-1206.906250,995.562500,37.656250
2022-06-04,40783.083333,143.770833,16.312500,2470.572917,27395.062500,2390.062500,2809.604167,5373.687500,-1118.531250,1002.833333,41.312500
2022-06-03,45392.750000,157.322917,47.437500,3588.260417,29644.479167,2292.604167,2714.625000,5998.968750,-531.322917,1001.614583,50.104167
2022-06-02,45728.854167,142.177083,393.083333,2705.354167,29646.906250,2708.572917,3122.770833,6161.979167,-403.260417,991.520833,47.375000
2022-06-01,45789.770833,143.500000,89.656250,3833.656250,30208.947917,1635.458333,3470.656250,6073.093750,-326.406250,992.395833,50.739583

On crée un data frame contenant notre Taux de CO2

In [47]:
df2=df["Taux de CO2 (g/kWh)"]

In [48]:
df

,Consommation (MW),Fioul (MW),Charbon (MW),Gaz (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Taux de CO2 (g/kWh)
Date,,,,,,,,,,,
2022-11-10,47957.227273,198.227273,43.477273,6323.977273,28542.227273,3426.954545,615.113636,6465.568182,-1603.750000,659.681818,71.886364
2022-11-09,48978.854167,200.625000,38.645833,6075.072917,29634.218750,6369.718750,720.812500,5296.781250,-953.000000,649.041667,64.291667
2022-11-08,48963.177083,200.385417,44.260417,4615.531250,28899.645833,11676.708333,849.739583,4610.375000,-1001.312500,651.802083,49.385417
2022-11-07,48324.364583,220.510417,41.218750,5628.166667,28291.041667,9988.052083,1675.729167,4763.218750,-1190.885417,653.760417,58.458333
2022-11-06,43698.885417,200.552083,37.406250,4298.302083,27428.947917,8589.708333,1424.958333,3609.697917,-1734.760417,666.031250,53.489583
...,...,...,...,...,...,...,...,...,...,...,...
2022-06-05,37671.812500,142.166667,16.416667,1905.239583,25653.312500,3243.260417,2524.177083,5079.354167,-1206.906250,995.562500,37.656250
2022-06-04,40783.083333,143.770833,16.312500,2470.572917,27395.062500,2390.062500,2809.604167,5373.687500,-1118.531250,1002.833333,41.312500
2022-06-03,45392.750000,157.322917,47.437500,3588.260417,29644.479167,2292.604167,2714.625000,5998.968750,-531.322917,1001.614583,50.104167
2022-06-02,45728.854167,142.177083,393.083333,2705.354167,29646.906250,2708.572917,3122.770833,6161.979167,-403.260417,991.520833,47.375000
2022-06-01,45789.770833,143.500000,89.656250,3833.656250,30208.947917,1635.458333,3470.656250,6073.093750,-326.406250,992.395833,50.739583

In [49]:
df.drop(columns=["Taux de CO2 (g/kWh)"],inplace=True)

On renomme nos deux data frame avant d'en faire des CSV

In [50]:
df_hitory_mix=df

In [51]:
df_history_co2=df2

In [52]:
df_hitory_mix.to_csv('df_hitory_mix.csv', sep = ';')
df_history_co2.to_csv('df_history_co2.csv', sep = ';')

On importe le cours du pétrole et du gaz sur la même période que notre CSV précèdent

In [54]:
import yahoo_fin.stock_info as fi
courtP=fi.get_data("BZ=F", start_date="06-01-2022", end_date="11-11-2022")
courtG=fi.get_data("NG=F",start_date="06-01-2022", end_date="11-11-2022")

In [55]:
fi.get_live_price("BZ=F")

92.66000366210938

On retire les colonnes inutiles

In [56]:
courtG.drop(columns=["high","low","low","adjclose","volume","ticker"],inplace=True)
courtP.drop(columns=["high","low","low","adjclose","volume","ticker"],inplace=True)

On regroupe les valeurs d'ouverture et de fermeture pour créer la valeur moyenne de nos hydrocarbures sur la journée

In [57]:
courtP=courtP.assign(court=((courtP["open"]+courtP["close"])/2))
courtG=courtG.assign(court=((courtG["open"]+courtG["close"])/2))

In [58]:
courtG.drop(columns=["open","close"],inplace=True)
courtP.drop(columns=["open","close"],inplace=True)

On crée deux nouveaux CSV avec nos valeurs obtenues

In [59]:
csv_court_gaz_histo=pd.DataFrame.to_csv(courtG,sep= ";")
csv_court_petrol_histo=pd.DataFrame.to_csv(courtP,sep= ";")
courtP.to_csv('csv_court_gaz_histo.csv', sep = ';')
courtG.to_csv('csv_court_petrol_histo.csv', sep = ';')

In [62]:
pd.read_csv('csv_court_petrol_histo.csv',sep=";",index_col=0, parse_dates=True)
pd.read_csv('csv_court_gaz_histo.csv',sep=";",index_col=0, parse_dates=True)

                 court
2022-06-01  116.459999
2022-06-02  116.715000
2022-06-03  118.990002
2022-06-06  120.430000
2022-06-07  120.325001
...                ...
2022-11-04   96.525002
2022-11-07   97.849998
2022-11-08   96.680000
2022-11-09   93.830002
2022-11-10   93.105000

[117 rows x 1 columns]